* {
            margin: 0;
            padding: 0;
        }

        .container {
            background-color: grey;
            border: 0 gray;
            width: 98.9vw;
            height: 43vh;
            padding: 34px;
            display: flex;
            text-align: center;
            align-items: center;
            box-sizing: border-box;
            margin: 10px;
        }

        .b1 {
            background-color: rgb(247, 228, 13);
            border: 10px solid rgb(116, 28, 205);
            width: 48vw;
            height: 34vh;
            margin: 5px;
        }

        .greenyellow {
            background-color: rgb(161, 255, 20);
            width: 35vw;
            height: 30vh;
            border: greenyellow;
            margin: auto;
            margin-top: 14px;
        }

        .b2 {
            width: 40vw;
            height: 34vh;
            border: 10px solid rgb(12, 233, 236);
            grid-template-areas: "blue red green";
            display: flex;
        }

        .red {
            background-color: red;
            height: 34vh;
            width: 18vw;
        }

        .blue {
            background-color: blue;
            height: 34vh;
            width: 18vw;
        }

        .green {
            background-color: green;
            height: 34vh;
            width: 18vw;
        }

        .container1 {
            border: 7px solid rgb(198, 130, 11);
            height: 50vh;
            width: 98.3vw;
            margin: 10px;
            display: grid;
            grid-template-columns: 32.76vw 32.76vw 32.76vw;
        }

        .container_a {
            display: grid;
            grid-template-columns: 148px 148px 148px;
            grid-template-rows: 150px 150px;
            background-color: chartreuse;
            grid-gap: 6px;
        }

        .aqua {
            border: aqua;
            background-color: aqua;
        }

        .yellow {
            border: yellow;
            background-color: yellow;
        }

        .aqua1 {
            /* width: 100px; */
            border: aqua;
            background-color: aqua;
        }

        .aqua2 {
            border: aqua;
            background-color: aqua;
        }

        .blue1 {
            border: rgb(3, 1, 15);
            grid-column: 2/4;
            background-color: black;
        }

        .container_b {
            background-color: dimgray;
            display: grid;
            grid-template-columns: 40vh;
            grid-template-rows: 20.13vw;
        }

        .a {
            background-color: rgb(231,23,23);
            width: 29.15vw;
            height: 41vh;
            margin: auto;
            margin-top: 25px;
            grid-column: 1/2;
            grid-row: 1/2;
            margin-left: 20px;
        }

        .b {
            background-color: rgb(148, 54, 54);
            border: 10px solid rgb(140, 49, 49);
            height: 36vh;
            margin: auto;
            width: 25.15vw;
            margin-left: 40px;
            margin-top: 35px;
            grid-column: 1/2;
            grid-row: 1/2;
        }

        .c {
            background-color: rgb(12, 11, 11);
            border: 10px solid rgb(6, 5, 5);
            width: 23.13vw;
            height: 30vh;
            margin-left: 55px;
            margin-top: 60px;
            grid-column: 1/2;
            grid-row: 1/2;
        }

        .container_c {
            background-color: rgb(100, 11, 11);
            border: 1px solid rgb(99, 9, 9);
            display: grid;
            grid-template-columns: 160px 160px 160px;
            grid-template-rows: 130px 130px;
            padding-top: 10px;
            grid-row-gap: 10px;
        }

        .nav1,
        .nav2,
        .nav3 {
            background-color: rgb(126, 197, 50);
            border: 15px solid blue;
            margin-left: 7px;
        }

        .sec1,
        .sec2,
        .sec3 {
            background-color: rgb(126, 197, 50);
            margin: 10px;
        }